---
import Layout from "../layouts/Layout.astro";

---

<Layout title="About">
    <div class="max-w-4xl block mx-auto my-8 text-xl">
        <h1 class="text-2xl font-bold mb-4">Lemongrass</h1>
        <p class="mb-4">This blog serves as a place I put my ideas, inventions and things I love. I also use it to improve upon my writing skills, ideally on my own, without any AI tools.</p>
        <h1 class="text-2xl font-bold mb-4">Inspired by </h1>
        <ul class="mb-8">
            <li>Sirakorn's Website <a class="underline" href="https://srakrn.me/bio/">https://srakrn.me/bio/</a></li>
            <li>Kev Quirk's Blog <a class="underline" href="https://kevquirk.com/">https://kevquirk.com/</a></li>
            <li>Gilles Castel's Blog <a class="underline" href="https://castel.dev/">https://castel.dev/</a></li>
            <li>Ratch Smith's Blog <a class="underline" href="https://rachsmith.com/">https://rachsmith.com/</a></li>
        </ul>
        <h1 class="text-2xl font-bold mb-4">Developer</h1>
        <h2 class="mb-3 ml-3 font-semibold">toftpokk</h2>
        <ul class="mb-4 ml-6">
            <li class="h-12 block align-middle">
                <a class="inline pl-3" href="https://github.com/kong-wep">
                    <img class="h-10 inline" src="/github-logo-white.svg"/>
                    <span class="inline pl-2">https://github.com/kong-wep</span>
                </a>
            </li>
            <li class="h-14 block align-middle">
                <a class="inline" href="https://gitlab.com/toftpokk">
                    <img class="h-16 inline" src="/gitlab-logo-white.svg"/>
                    <span class="inline">https://gitlab.com/toftpokk</span>
                </a>
            </li>
        </ul>
        <h2 class="text-2xl mb-8">This project is part of the Pandan Project</h2>
    </div>
</Layout>