<footer class="text-center m-4 text-main dark:text-white">
    <p class="pb-5">All works licensed under CC-BY-SA unless otherwise stated.</p>
    <img class="mx-auto" src="/CC-BY-SA.png" />
</footer>
